
.nav {
    grid-area: n;
    background-color: #fff;
    padding: 20px;
}

.item a {
    color: #838daa;
    text-decoration: none;
}

.item a.active {
    color: #8224e3;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.item:hover {
    color: #8224e3;
}
