
.nav {
    grid-area: n;
    background-color: #fff;
}

.item {
    color: #838daa;
}

.item.active {
    color: #8224e3;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.item:hover {
    color: #8224e3;
}
